<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hel.mapper.OrderInfoExtMapper">

    <insert id="insertOrderInfoExt" parameterType="io.hel.entity.OrderInfoExt">
        INSERT INTO order_info_ext (order_id, attach_info, create_time) VALUES (#{orderId}, #{attachInfo}, #{createTime})
    </insert>

</mapper>
